{{ define "main" }}

<article class="page type-page status-publish hentry">
	<header class="entry-header has-text-align-center header-footer-group">
		<div class="entry-header-inner section-inner medium">
			<h1 class="entry-title">{{ .Title }}</h1>
		</div>
	</header>
	<div class="post-inner thin">
		<div class="entry-content justified">

    <h4>1. ¿Quién es el responsable del tratamiento de sus datos?</h4>

    <p>El responsable del tratamiento de sus datos es la Asociación Trackula (en adelante, "TRACKULA") que actualmente se encuentra en proceso de constitución.</p>

    <p>La presente política de privacidad regula el acceso, navegación y el uso del sitio web (en adelante, el “Sitio Web”), que TRACKULA pone a disposición de los interesados.</p>

    <h4>2. ¿Cuáles son las finalidades del tratamiento de sus datos de carácter personal?</h4>

    <p>TRACKULA se compromete a que los datos de carácter personal solicitados serán los estrictamente necesarios para llevar a cabo el servicio demandado. Se le informará en su caso de la obligatoriedad de facilitar determinados datos, sin los cuales no sería posible llevar a cabo la prestación.</p>

    <h5>2.1 Tratamiento de datos personales por parte de TRACKULA</h5>

    <p>En cumplimiento de lo dispuesto en la normativa aplicable en materia de protección de datos, ponemos en conocimiento del Usuario que los datos recabados a través de cualesquiera formularios de recogida de datos del Sitio Web serán incorporados a un fichero automatizado de datos de carácter personal del que es responsable TRACKULA.</p>

    <p>Los datos recabados por TRACKULA se conservarán siempre y cuando no se solicite su supresión de dichos datos por el Interesado.</p>

    <p>Conforme al Principio de Limitación de la Finalidad de los Datos recogido en el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos (en adelante, RGPD), se informa al Interesado que sus datos serán recogidos únicamente para los fines expuestos en los párrafos anteriores y no serán tratados de manera incompatible con dichos fines.</p>

    <h5>2.2 Finalidades del tratamiento:</h5>

    <p>TRACKULA se compromete a que los datos de carácter personal solicitados serán los estrictamente necesarios para llevar a cabo las finalidades que se detallan a continuación. En este sentido, sus datos de carácter personal podrán ser utilizados para las siguientes finalidades:</p>

    <ul>
      <li>Valorar su petición y darle acceso a la plataforma de la comunidad LaEscondite.</li>
      <li>Resolver cualquier tipo de cuestión o incidencia relacionada con los servicios ofrecidos y responder de forma ágil, fiable y rápida a todas las consultas, inquietudes o sugerencias que desee plantear.</li>
      <li>Remitirle comunicaciones relacionadas con los servicios prestados por TRACKULA.</li>
    </ul>

    <h4>3. Veracidad y calidad de los datos</h4>

    <p>El Usuario garantiza que los datos personales facilitados son exactos y veraces y se hace responsable de comunicar a TRACKULA cualquier modificación de los mismos. El Usuario responderá, en cualquier caso, de la veracidad de los datos facilitados, reservándose TRACKULA el derecho a excluir de los servicios registrados a todo Usuario que haya facilitado datos falsos, sin perjuicio de las demás acciones que procedan en Derecho.</p>

    <h4>4. Derechos de los usuarios</h4>

    <p>El Usuario tiene derecho a (i) acceder a sus datos personales, así como a (ii) solicitar la rectificación de los datos inexactos o incompletos o, en su caso, (iii) solicitar su supresión, (iv) solicitar la limitación del tratamiento de sus datos, (v) oponerse al tratamiento de sus datos (vi) ejercer el derecho al olvido y (vii) solicitar su portabilidad.</p>

    <p>Usted podrá ejercitar, en cualquier momento, sus derechos en la dirección de e-mail <b>hola@laescondite.com</b>.</p>

    <p>En determinadas circunstancias, los Usuarios podrán solicitar la limitación del tratamiento de sus datos, en cuyo caso únicamente serán conservados para el ejercicio o defensa de reclamaciones.</p>

    <p>Los Usuarios podrán retirar el consentimiento prestado para el uso de sus datos con cualquier finalidad en cualquier momento.</p>

    <p>Sin perjuicio de cualquier otro recurso administrativo o acción judicial, los Usuarios tendrán derecho a presentar una reclamación ante una Autoridad de Control, en Usuario en el Estado miembro en el que tenga su residencia habitual, lugar de trabajo o lugar de la supuesta infracción, en caso de que considere que el tratamiento de sus datos personales no es adecuado a la normativa, así como en el caso de no ver satisfecho el ejercicio de sus derechos. La autoridad de control ante la que se haya presentado la reclamación informará al reclamante sobre el curso y el resultado de la reclamación.</p>

    <h4>5. Medidas de seguridad</h4>

    <p>TRACKULA mantiene los niveles de seguridad de protección de datos personales conforme a la normativa aplicable y ha establecido todos los medios técnicos a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos que el Interesado facilite a través del Sitio Web.</p>

    <p>TRACKULA se compromete a cumplir con el deber de secreto y confidencialidad respecto de los datos personales contenidos en el fichero automatizado de acuerdo con la legislación aplicable.</p>

    <h4>6. Cambios de la política de privacidad y preguntas</h4>

    <p>TRACKULA se reserva el derecho de revisar su Política de Privacidad en el momento que lo considere oportuno, en cuyo caso se comunicará a los Usuarios los cambios realizados.</p>

    <p>Si tienen alguna pregunta sobre esta Política de Privacidad o el tratamiento de sus datos rogamos que se ponga en contacto con nosotros en la siguiente dirección de correo electrónico: <b>hola@laescondite.com</b></p>

    <h4>7. Aceptación y consentimiento</h4>

    <p>El Usuario declara haber sido informado de las condiciones sobre protección de datos personales, aceptando y consintiendo el tratamiento de os mismos por parte de TRACKULA, en la forma y para las finalidades indicadas en la presente Política de Privacidad.</p>

    <hr/>

    <h2 class="text-center">Transparencia</h2>

    <h4>Herramientas utilizadas</h4>

    <p>Además de la política de privacidad, nos gustaría informarle de las herramientas que se están utilizando para la realización de este blog correspondiente con el fin de ser lo mas transparentes posible.</p>

    <ul>
      <li><a href="https://gohugo.io/" target="_blank">Hugo</a>: framework para el desarrollo del blog.</li>
      <li><a href="https://gitlab.com/laescondite/laescondite.gitlab.io" target="_blank">Gitlab</a>: el código fuente del blog puede encontrarse en este repositorio de Gitlab.</li>
      <li><a href="https://www.netlify.com/" target="_blank">netlify</a>: utilizado para el despliegue automático.</li>
      <li><a href="https://www.cloudflare.com/" target="_blank">Cloudflare</a>: utilizado para la generación de certificados SSL y alta disponibilidad.</li>
      <li><a href="https://www.arengu.com/" target="_blank">Arengu</a>: utilizado para la creación del formulario y las integraciones correspondientes.</li>
      <li><a href="https://www.gandi.net/" target="_blank">Gandi.net</a>: utilizado para la gestión del dominio y correo electrónico a donde llegan las notificaciones y envíos de formularios.</li>
    </ul>
  </div>
</div>
</article>

{{ end }}