{{ define "main" }}

<article class="page type-page status-publish hentry">
	<header class="entry-header has-text-align-center header-footer-group">
		<div class="entry-header-inner section-inner medium">
			<h1 class="entry-title">{{ .Title }}</h1>
		</div>
	</header>
	<div class="post-inner thin">
		<div class="entry-content justified">

    <p>El corazón de La Escondite es la gente. Es por esto que La Escondite está comprometida en proporcionar un ambiente inclusivo, seguro y de colaboración para todos los miembros.</p>
    <p> Animamos a cada persona a ser ella misma y respetar los derechos de las demás personas. El código de conducta es un conjunto de pautas que establece valores compartidos y asegura que se eviten conductas que puedan perjudicar a los miembros.</p>

    <h4>Nuestro compromiso</h4>

    <p>Nosotros, como miembros, contribuyentes y administradores, nos comprometemos a hacer de la participación en nuestra comunidad una experiencia libre de acoso para todo el mundo, independientemente de la edad, dimensión corporal, minusvalía visible o invisible, etnicidad, características sexuales, identidad y expresión de género, nivel de experiencia, educación, nivel socio-económico, nacionalidad, apariencia personal, raza, religión, o identidad u orientación sexual.</p>
    <p>Nos comprometemos a actuar e interactuar de maneras que contribuyan a una comunidad abierta, acogedora, diversa, inclusiva y sana.</p>

    <h4>Nuestros estándares</h4>

    <p>Ejemplos de comportamiento que contribuyen a crear un ambiente positivo para nuestra comunidad:</p>
    <ul>
      <li>Demostrar empatía y amabilidad ante otras personas.</li>
      <li>Respeto a diferentes opiniones, puntos de vista y experiencias.</li>
      <li>Dar y aceptar adecuadamente retroalimentación constructiva.</li>
      <li>Aceptar la responsabilidad y disculparse ante quienes se vean afectados por nuestros errores, aprendiendo de la experiencia.</li>
      <li>Centrarse en lo que sea mejor no sólo para nosotros como individuos, sino para la comunidad en general.</li>
    </ul>

    <p>Ejemplos de comportamiento inaceptable:</p>
    <ul>
      <li>El uso de lenguaje o imágenes sexualizadas, y aproximaciones o atenciones sexuales de cualquier tipo.</li>
      <li>Comentarios despectivos (trolling), insultantes o derogatorios, y ataques personales o políticos.</li>
      <li>El acoso en público o privado.</li>
      <li>Publicar información privada de otras personas, tales como direcciones físicas o de correo electrónico, sin su permiso explícito.</li>
      <li>Otras conductas que puedan ser razonablemente consideradas como inapropiadas en un entorno profesional.</li>
    </ul>

    <h4>Aplicación de las responsabilidades</h4>
    <p>Los administradores de la comunidad son responsables de aclarar y hacer cumplir nuestros estándares de comportamiento aceptable y tomarán acciones apropiadas y correctivas de forma justa en respuesta a cualquier comportamiento que consideren inapropiado, amenazante, ofensivo o dañino.</p>
    <p>Los administradores de la comunidad tendrán el derecho y la responsabilidad de eliminar, editar o rechazar comentarios, commits, código, ediciones de páginas de wiki, issues y otras contribuciones que no se alineen con este Código de Conducta, y comunicarán las razones para sus decisiones de moderación cuando sea apropiado.</p>

    <h4>Alcance</h4>
    <p>Este código de conducta aplica tanto a espacios del proyecto como a espacios públicos donde un individuo esté en representación del proyecto o comunidad. Ejemplos de esto incluyen el uso de la cuenta oficial de correo electrónico, publicaciones a través de las redes sociales oficiales, o presentaciones con personas designadas en eventos en línea o no.</p>

    <h4>Aplicación</h4>
    <p>Instancias de comportamiento abusivo, acosador o inaceptable de otro modo podrán ser reportadas a los administradores de la comunidad responsables del cumplimiento a través de un mail a uno de los siguientes responsables:</p>
    <ul>
      <li>Pablo Castro: <a href="mailto:pablo@laescondite.com">pablo@laescondite.com</a></li>
      <li>Emma López: <a href="mailto:emma@laescondite.com">emma@laescondite.com</a></li>
    </ul>
    <p>Todas las quejas serán evaluadas e investigadas de una manera puntual y justa y todos los administradores de la comunidad están obligados a respetar la privacidad y la seguridad de quienes reporten incidentes.</p>

    <h4>Guías de Aplicación</h4>
    <p>Los administradores de la comunidad seguirán estas Guías de Impacto en la Comunidad para determinar las consecuencias de cualquier acción que juzguen como un incumplimiento de este Código de Conducta:</p>

    <h5>1. Corrección</h5>
    <p><b>Impacto en la Comunidad:</b> Un incumplimiento causado por un único incidente o por una cadena de acciones.</p>
    <p><b>Consecuencia:</b> Un aviso escrito y privado por parte de los administradores de la comunidad, proporcionando claridad alrededor de la naturaleza de este incumplimiento y una explicación de por qué el comportamiento es inaceptable. Una disculpa pública podría ser solicitada.</p>

    <h5>2. Aviso</h5>
    <p><b>Impacto en la Comunidad:</b> El uso de lenguaje inapropiado u otro comportamiento considerado no profesional o no acogedor en la comunidad.</p>
    <p><b>Consecuencia:</b> Un aviso con consecuencias por comportamiento prolongado. No se interactúa con las personas involucradas, incluyendo interacción no solicitada con quienes se encuentran aplicando el Código de Conducta, por un periodo especificado de tiempo. Esto incluye evitar las interacciones en espacios de la comunidad, así como a través de canales externos como las redes sociales. Incumplir estos términos puede conducir a una expulsión temporal o permanente.</p>

    <h5>3. Expulsión temporal</h5>
    <p><b>Impacto en la Comunidad:</b> Una serie de incumplimientos de los estándares de la comunidad, incluyendo comportamiento inapropiado continuo.</p>
    <p><b>Consecuencia:</b> Una expulsión temporal de cualquier forma de interacción o comunicación pública con la comunidad durante un intervalo de tiempo especificado. No se permite interactuar de manera pública o privada con las personas involucradas, incluyendo interacciones no solicitadas con quienes se encuentran aplicando el Código de Conducta, durante este periodo. Incumplir estos términos puede conducir a una expulsión permanente.</p>

    <h5>4. Expulsión permanente</h5>
    <p><b>Impacto en la Comunidad:</b> Demostrar un patrón sistemático de incumplimientos de los estándares de la comunidad, incluyendo conductas inapropiadas prolongadas en el tiempo, acoso de individuos, o agresiones o menosprecio a grupos de individuo</p>
    <p><b>Consecuencia:</b> Una expulsión permanente de cualquier tipo de interacción pública con la comunidad del proyecto.</p>

    <h4>Atribución</h4>
    <p>Este Código de Conducta es una adaptación del <a href="https://www.contributor-covenant.org/es/version/2/0/code_of_conduct.html" targe="_blank">Contributor Covenant versión 2.0</a></p>
    <p>Las Guías de Impacto en la Comunidad están inspiradas en la escalera de aplicación del código de conducta de Mozilla.</p>

		</div>
	</div>
</article>

{{ end }}