
/*	1. Document Setup
/* -------------------------------------------------------------------------- */
body {
  background: #f6808b;
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.2) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
	box-sizing: border-box;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8rem;
	letter-spacing: -0.015em;
  text-align: left;

  --accent-color: rgb(255, 230, 230);
}

/* Fix fonts */
 .entry-content {
	font-family: 'Open Sans', sans-serif;
}
  .widget_text p, .widget_text ol, .widget_text ul, .widget_text dl, .widget_text dt, .widget-content .rssSummary {
	font-family: 'Open Sans', sans-serif;
  letter-spacing: normal;
}
/* end fix fonts */

/* fix accent color */
:root .has-accent-color {
  color: var(--accent-color);
}
/* end fix accent color */

button::-moz-focus-inner {
  border: 0;
}

a {
  outline: none;
}

.main-content {
  padding-top: 5em;
}

/* Post Header ------------------------------- */

.singular .entry-header {
  background-color: black;
  color: white;
	padding: 4rem 0;
}

/* Site Header */

#site-header {
  z-index: 1;
  background-color: black;
}

.header-inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2.8rem 0;
}

.header-titles-wrapper {
  color: white;
  margin-right: 4rem;
  padding: 0;
  text-align: left;
}

.header-navigation-wrapper {
  color: white;
  align-items: center;
  display: flex;
}

/* Footer */
.footer-nav-widgets-wrapper.header-footer-group {
  margin-top: 0;
}

.footer-banner {
  height: 200px;
  background: url(../images/banner-large.png) center;
  background-size: cover;
}


/* Alignment Classes ------------------------- */

.entry-content>*:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
	max-width: 68rem;
	width: calc(100% - 4rem);
}

[class*="__inner-container"]>*:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
	max-width: 100rem;
	width: 100%;
}

.nav-toggle {
  outline: none;
}

.close-nav-toggle {
  outline: none;
}


/* Featured Media ---------------------------- */

.singular .featured-media::before {
	background: black;
	content: "";
	display: block;
	position: absolute;
	bottom: 50%;
	left: 0;
	right: 0;
	top: 0;
}

.call-to-action {
  background-color: black;
  color: white;
  margin: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
}

.call-to-action .wp-block-group__inner-container {
  width: 80rem !important;
}

.link {
  color: black;
  text-decoration: none;
}

	/* Post: Archive ------------------------- */

	.archive-header {
    background-color: black;
    color: white;
		padding: 8rem 0;
	}

  .wp-post-image {
    margin: auto;
    opacity: 0.8;
  }

  .header-banner {
    height: 350px;
    background: url(../images/banner-large.png) center;
    background-size: cover;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.3);
  }


  /* Pagination */

  ul.pagination {
    border-left: 1px solid black;
    margin: auto;
    width: 245px;
    border-right: 1px solid black;
  }

  li.page-item {
    display: inline;
  }

  li.page-item > a {
    color: #cd2653;
  }

  li.page-item.active > a {
    color: black;
  }

  .header-image {
    width: 200px;
    position: absolute;
    left: 100px;
    top: 150px;
  }

  @media (max-width: 1080px) {

    .header-image {
      width: 150px;
      position: sticky;
      left: 0;
      margin: auto;
    }
  }

  /* Footer */
  .centered {
    text-align: center;
  }
  .justified {
    text-justify: inter-word;
    text-align: justify;
  }
  .footer-grid {
    flex: 1 0;
    min-width: 300px;
  }
  .contact-image {
    max-width: 300px;
    margin: auto 0 auto auto;
  }


  /* About us */
  .organization-flex {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
  }

  .organization-flex > div {
    margin: 2px;
    border-radius: 5px;
    padding: 5px;
    flex: 0 0 130px;
  }

  .organization-flex h5 {
    font-size: 1em;
    height: 1em;
    margin: 1em auto 1.5em auto;
  }

  .organization-flex p {
    font-size: 0.8em;
    height: 2em;
    margin: 1em auto 1.5em auto;
  }


  /* Arengu form */

  .arengu-form {
    display: flex;
    place-content: center;
  }

  .af-form {
    flex-grow: 1;
    border-radius: 4px;
    --font-family: inter var,-apple-system,BlinkMacSystemFont,helvetica neue,Helvetica,sans-serif;
    --primary-color: black;
    --label-color: black;
    --font-color: black;
    --label-font-size: 16px;
    --hint-color: #black;
    --hint-font-size: 16px;
    --input-color: black;
    --input-height: 46px;
    --label-font-weight: bold;
    --label-required-color: #930127;
    --message-fail-color: #930127;
    --message-fail-font-size: 16px;
    --message-fail-background-color: #fff6f6;
    --legal-font-size: 16px;
  }

  .af-form button {
    text-decoration: none;
  }

  .af-form .af-field-input input {
    padding: 14px !important;
    top: auto;
  }

  .af-form .af-field-input textarea {
    padding: 14px !important;
  }

  .af-form .af-legal {
    position: relative;
  }

  .af-form .af-legal label {
    display: flex;
    margin-left: 0;
    color: black;
  }

  .af-form .af-step-button.af-button {
    margin: 0.5em 0;
  }
