<!DOCTYPE html>
<html class="no-js" lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

{{ partial "head.html" . }}

<body class="home page-template-default page wp-embed-responsive singular enable-search-modal has-post-thumbnail has-no-pagination not-showing-comments show-avatars footer-top-visible">
	{{ partial "header.html" . }}

	<main id="site-content" role="main">
		{{ block "main" . }}{{ end }}
	</main>

	{{ partial "footer.html" . }}
</body>

</html>