

<figure class="wp-block-image alignfull size-full" style="margin: 0;">
  <div class="footer-banner" alt=""></div>
</figure>

<div class="footer-nav-widgets-wrapper header-footer-group">
  <div class="footer-inner section-inner">
    <div class="footer-top has-social-menu">
      <nav aria-label="Social links" class="footer-social-wrapper">
        {{partial "social.html" .}}
      </nav>
    </div><!-- .footer-top -->
    {{ with .Site.Params.footer }}
    <aside class="footer-widgets-outer-wrapper" role="complementary">
      <div class="footer-widgets-wrapper">
        <div class="footer-widgets column-one footer-grid">
          <div class="widget widget_text">
            <div class="widget-content">
              <h2 class="widget-title subheading heading-size-3">{{ .title | markdownify }}</h2>
              <div class="textwidget justified">
                <p>{{ .content | markdownify }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-widgets column-two footer-grid">
          <div class="widget widget_text">
            <div class="widget-content">
              <h2 class="widget-title subheading heading-size-3">{{ .contact | markdownify }}</h2>
              <div class="textwidget">
                <p>{{ .email | markdownify }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-grid">
          <img src="images/message.png" class="contact-image" alt="Contáctanos" />
        </div>
      </div><!-- .footer-widgets-wrapper -->
    </aside><!-- .footer-widgets-outer-wrapper -->
    {{ end }}

  </div><!-- .footer-inner -->

</div><!-- .footer-nav-widgets-wrapper -->


<footer id="site-footer" role="contentinfo" class="header-footer-group">
  <div class="section-inner">
    <p><a href="/privacy/" >Política de privacidad</a></p>
    <p><a href="/coc/" >Código de conducta</a></p>
    <a class="to-the-top" href="#site-header">
      <span class="to-the-top-long">
        Vuelve arriba <span class="arrow" aria-hidden="true">&uarr;</span> </span><!-- .to-the-top-long -->
      <span class="to-the-top-short">
        Vuelve arriba <span class="arrow" aria-hidden="true">&uarr;</span> </span><!-- .to-the-top-short -->
    </a><!-- .to-the-top -->
  </div><!-- .section-inner -->
</footer>


{{ "<!-- Search index -->" | safeHTML }}
<script>
  var indexURL = {{"index.json" | relLangURL }}
</script>

<!-- jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
