<header id="site-header" class="header-footer-group" role="banner">
  <div class="header-inner section-inner">
    <div class="header-titles-wrapper">
      <div class="header-titles">
        <div class="site-title faux-heading"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></div>
      </div><!-- .header-titles -->

      <button class="toggle nav-toggle mobile-nav-toggle" data-toggle-target=".menu-modal"
        data-toggle-body-class="showing-menu-modal" aria-expanded="false" data-set-focus=".close-nav-toggle">
        <span class="toggle-inner">
          <span class="toggle-icon">
            <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg"
              width="26" height="7" viewbox="0 0 26 7">
              <path fill-rule="evenodd"
                d="M332.5,45 C330.567003,45 329,43.4329966 329,41.5 C329,39.5670034 330.567003,38 332.5,38 C334.432997,38 336,39.5670034 336,41.5 C336,43.4329966 334.432997,45 332.5,45 Z M342,45 C340.067003,45 338.5,43.4329966 338.5,41.5 C338.5,39.5670034 340.067003,38 342,38 C343.932997,38 345.5,39.5670034 345.5,41.5 C345.5,43.4329966 343.932997,45 342,45 Z M351.5,45 C349.567003,45 348,43.4329966 348,41.5 C348,39.5670034 349.567003,38 351.5,38 C353.432997,38 355,39.5670034 355,41.5 C355,43.4329966 353.432997,45 351.5,45 Z"
                transform="translate(-329 -38)" /></svg> </span>
          <span class="toggle-text">Menu</span>
        </span>
      </button><!-- .nav-toggle -->

    </div><!-- .header-titles-wrapper -->

    <div class="header-navigation-wrapper">
      <nav class="primary-menu-wrapper" aria-label="Horizontal" role="navigation">
        <ul class="primary-menu reset-list-style">
          {{ range .Site.Menus.desktop }}
          <li class="menu-item"><a href="{{ .URL | relLangURL }}" aria-current="page">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav><!-- .primary-menu-wrapper -->

      <div class="header-toggles hide-no-js">
        <div class="toggle-wrapper nav-toggle-wrapper has-expanded-menu">
          <button class="toggle nav-toggle desktop-nav-toggle" data-toggle-target=".menu-modal"
            data-toggle-body-class="showing-menu-modal" aria-expanded="false" data-set-focus=".close-nav-toggle">
            <span class="toggle-inner">
              <span class="toggle-text">Menu</span>
              <span class="toggle-icon">
                <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg"
                  width="26" height="7" viewbox="0 0 26 7">
                  <path fill-rule="evenodd"
                    d="M332.5,45 C330.567003,45 329,43.4329966 329,41.5 C329,39.5670034 330.567003,38 332.5,38 C334.432997,38 336,39.5670034 336,41.5 C336,43.4329966 334.432997,45 332.5,45 Z M342,45 C340.067003,45 338.5,43.4329966 338.5,41.5 C338.5,39.5670034 340.067003,38 342,38 C343.932997,38 345.5,39.5670034 345.5,41.5 C345.5,43.4329966 343.932997,45 342,45 Z M351.5,45 C349.567003,45 348,43.4329966 348,41.5 C348,39.5670034 349.567003,38 351.5,38 C353.432997,38 355,39.5670034 355,41.5 C355,43.4329966 353.432997,45 351.5,45 Z"
                    transform="translate(-329 -38)" /></svg> </span>
            </span>
          </button><!-- .nav-toggle -->
        </div><!-- .nav-toggle-wrapper -->
      </div><!-- .header-toggles -->
    </div><!-- .header-navigation-wrapper -->
  </div><!-- .header-inner -->

</header>


<div class="menu-modal cover-modal header-footer-group" data-modal-target-string=".menu-modal">
  <div class="menu-modal-inner modal-inner">
    <div class="menu-wrapper section-inner">
      <div class="menu-top">
        <button class="toggle close-nav-toggle fill-children-current-color" data-toggle-target=".menu-modal"
          data-toggle-body-class="showing-menu-modal" aria-expanded="false" data-set-focus=".menu-modal">
          <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg"
            width="16" height="16" viewbox="0 0 16 16">
            <polygon fill="" fill-rule="evenodd"
              points="6.852 7.649 .399 1.195 1.445 .149 7.899 6.602 14.352 .149 15.399 1.195 8.945 7.649 15.399 14.102 14.352 15.149 7.899 8.695 1.445 15.149 .399 14.102" />
          </svg> </button><!-- .nav-toggle -->
        <nav class="expanded-menu" aria-label="Expanded" role="navigation">
          <ul class="modal-menu reset-list-style">
            {{ range .Site.Menus.main }}
            <li class="menu-item menu-item-type-custom menu-item-object-custom">
              <div class="ancestor-wrapper"><a href="{{ .URL | relLangURL }}" aria-current="page">{{ .Name }}</a></div>
            </li>
            {{ end }}
          </ul>
        </nav>
        <nav class="mobile-menu" aria-label="Mobile" role="navigation">
          <ul class="modal-menu reset-list-style">
            {{ range .Site.Menus.main }}
            <li class="menu-item menu-item-type-custom menu-item-object-custom">
              <div class="ancestor-wrapper"><a href="{{ .URL | relLangURL }}" aria-current="page">{{ .Name }}</a></div>
            </li>
            {{ end }}
          </ul>
        </nav>
      </div><!-- .menu-top -->
      <div class="menu-bottom">
        <nav aria-label="Expanded Social links" role="navigation">
          {{partial "social.html" .}}
        </nav><!-- .social-menu -->
      </div><!-- .menu-bottom -->
    </div><!-- .menu-wrapper -->
  </div><!-- .menu-modal-inner -->
</div>
