<head>
  <meta charset="utf-8">
  <!-- Primary Meta Tags -->
  <title>{{ .Title }}</title>
  <base href="{{ .Site.BaseURL }}">
  <meta name="title" content="LaEscondite">
  <meta name="description" content="LaEscondite es una comunidad para unir las luchas por la privacidad, los derechos en internet y la soberanía tecnológica.">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="author" content="Trackula">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.laescondite.com/">
    <meta property="twitter:title" content="LaEscondite">
    <meta property="twitter:description" content="LaEscondite es una comunidad para unir las luchas por la privacidad, los derechos en internet y la soberanía tecnológica.">
    <meta property="twitter:image" content='{{ "/images/laescondite-card.png" | absURL }}'>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.laescondite.com/">
  <meta property="og:title" content="LaEscondite">
  <meta property="og:description" content="LaEscondite es una comunidad para unir las luchas por la privacidad, los derechos en internet y la soberanía tecnológica.">
  <meta property="og:image" content='{{ "/images/laescondite-card.png" | absURL }}'>

  {{ "<!-- mobile responsive meta -->" | safeHTML }}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ with .Params.Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
  {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
  {{ hugo.Generator }}


  {{ "<!-- Main Stylesheet -->" | safeHTML }}
  {{ $wpLibrary := resources.Get "css/wp-library.css" | minify }}
  <link rel="stylesheet" href="{{ $wpLibrary.Permalink }}" media="screen">

  {{ $style := resources.Get "css/style.css" | minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" media="screen">

  {{ $style := resources.Get "css/opensans.css" | minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" media="screen">

  {{ $style := resources.Get "css/escondite.css" | minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" media="screen">

  {{ "<!--Favicon-->" | safeHTML }}
  <link rel="shortcut icon" href="{{ `images/favicon.png` | absURL }}" type="image/x-icon">
  <link rel="icon" href="{{ `images/favicon.png` | absURL }}" type="image/x-icon">

  <script>
		document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>


</head>
