<ul class="social-menu reset-list-style social-icons fill-children-current-color">

  {{ with .Site.Params.social.twitter }}
  <li id="menu-item-39" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39"><a
      href="{{ . | safeURL }}" target="_blank"><span class="screen-reader-text">Twitter</span><svg class="svg-icon" aria-hidden="true"
        role="img" focusable="false" width="24" height="24" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M22.23,5.924c-0.736,0.326-1.527,0.547-2.357,0.646c0.847-0.508,1.498-1.312,1.804-2.27 c-0.793,0.47-1.671,0.812-2.606,0.996C18.324,4.498,17.257,4,16.077,4c-2.266,0-4.103,1.837-4.103,4.103 c0,0.322,0.036,0.635,0.106,0.935C8.67,8.867,5.647,7.234,3.623,4.751C3.27,5.357,3.067,6.062,3.067,6.814 c0,1.424,0.724,2.679,1.825,3.415c-0.673-0.021-1.305-0.206-1.859-0.513c0,0.017,0,0.034,0,0.052c0,1.988,1.414,3.647,3.292,4.023 c-0.344,0.094-0.707,0.144-1.081,0.144c-0.264,0-0.521-0.026-0.772-0.074c0.522,1.63,2.038,2.816,3.833,2.85 c-1.404,1.1-3.174,1.756-5.096,1.756c-0.331,0-0.658-0.019-0.979-0.057c1.816,1.164,3.973,1.843,6.29,1.843 c7.547,0,11.675-6.252,11.675-11.675c0-0.178-0.004-0.355-0.012-0.531C20.985,7.47,21.68,6.747,22.23,5.924z">
        </path>
      </svg></a></li>
  {{ end }}

  {{ with .Site.Params.social.linkedin }}
  <li id="menu-item-40" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-40"><a
      href="{{ . | safeURL }}" target="_blank"><span class="screen-reader-text">Linkedin</span>
      <svg class="svg-icon" aria-hidden="true" role="img" focusable="false "  width="22" height="22" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<path d="M73.1,0c-34,0-61.5,27.5-61.5,61.5s27.5,62.1,61.5,62.1s61.5-28.1,61.5-62.1C134.6,27.5,107.1,0,73.1,0z M373.2,162.9
		c-51.6,0-81.2,27-95.4,53.9h-1.5v-46.6H174.5V512h106V342.8c0-44.6,3.4-87.7,58.5-87.7c54.4,0,55.2,50.8,55.2,90.5V512h105.9h0.1
		V324.2C500.4,232.3,480.6,162.9,373.2,162.9z M20.1,170.1V512h106.1V170.1H20.1z"/>
</g>
</svg>
    </a></li>
  {{ end }}

  {{ with .Site.Params.social.email }}
  <li id="menu-item-41" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-41"><a
      href="mailto:{{ . }}"><span class="screen-reader-text">Email</span><svg class="svg-icon" aria-hidden="true"
        role="img" focusable="false" width="24" height="24" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M20,4H4C2.895,4,2,4.895,2,6v12c0,1.105,0.895,2,2,2h16c1.105,0,2-0.895,2-2V6C22,4.895,21.105,4,20,4z M20,8.236l-8,4.882 L4,8.236V6h16V8.236z">
        </path>
      </svg></a></li>
  {{ end }}

</ul>