

{{ define "main"}}

<article class="post-20 page type-page status-publish has-post-thumbnail hentry" id="post-20">
  {{ with .Site.Params.banner.heading }}
  <header class="entry-header has-text-align-center header-footer-group">
    <div class="entry-header-inner section-inner medium">
      <h1 class="entry-title">{{ . | markdownify }}</h1>
    </div>
  </header>
  {{ end }}

  <div class="post-inner thin">
    <div class="entry-content">
      <div class="wp-block-group alignwide">
        <div class="wp-block-group__inner-container">
          <h2 class="has-text-align-center ">Ups! Esta página que no existe</h2>
          <h2 class="has-text-align-center "><a href="{{ "/" | relURL }}">Volver a la web principal</a></h2>
        </div>
      </div>
    </div>
  </div>
</article>

{{ end }}