{{ define "main" }}

<article class="post-20 page type-page status-publish has-post-thumbnail hentry" id="post-20">
  {{ with .Site.Params.banner.heading }}
  <header class="entry-header has-text-align-center header-footer-group">
    <div class="entry-header-inner section-inner medium">
      <h1 class="entry-title">{{ . | markdownify }}</h1>
    </div>
    <div class="header-image">
      <img src="images/hello.png" alt="" />
    </div>
  </header>
  {{ end }}

  <div class="main-content">
    <div class="entry-content">
      {{ with .Site.Params.blog.heading }}
      <div class="wp-block-group alignwide">
        <div class="wp-block-group__inner-container">
          <h2 class="has-text-align-center ">{{ . | markdownify }}</h2>
        </div>
      </div>
      {{ end }}


      <figure class="wp-block-image alignfull size-full header-banner">
        <!-- <img src="images/banner.png" alt="" class="wp-image-37" /> -->
      </figure>

      <div class="wp-block-group alignwide">
        <div class="wp-block-group__inner-container">
          <h2 class="has-accent-color has-text-align-center">Queremos unir a la comunidad, conocernos, debatir y proponer soluciones privacy-by-default al mundo post-COVID-19</h2>
        </div>
      </div>

      <div class="wp-block-group justified">
        <p class="has-drop-cap">
          Nuestro objetivo principal es juntar a todas las personas que están trabajando por la privacidad en nuestro país o en general en nuestro entorno. Queremos unirnos y empezar a proponer acciones reales para cambiar el mundo.
        </p>
        <p>
          En un universo de datos agregados, la tendencia a la visibilidad obligatoria complica la privacidad y la capacidad de ser anónimos en entornos físicos y en línea. Se abren múltiples retos en relación con nuestros derechos y libertades digitales. Poniendo en el centro los principios de soberanía tecnológica, <b>LaEscondite</b> busca ser una comunidad donde debatir y repensar las reglas de este juego en el escenario post-COVID-19.
        </p>
        <img src="images/very-smart-things.png" alt="" style="margin: auto; width: 270px;" />
      </div>


      <div class="wp-block-group alignwide has-background call-to-action">
        <div class="wp-block-group__inner-container">
          <div class="wp-block-group">
            <div class="wp-block-group__inner-container justified">
              <h2 class="has-text-align-center">La comunidad</h2>
              <p class=""><em>LaEscondite</em> comenzó como un evento pero busca ser un espacio de relación, donde conocernos, ver en qué estamos trabajando, y donde poder colaborar.</p>
              <p class="">Cada vez somos más quienes trabajamos en estos ámbitos pero apenas nos conocemos, apenas podemos influir en nada, <b><em>LaEscondite</em> busca ayudarnos a hacer piña</b>.</p>
              <img src="images/watching_them_watching_us.png" alt="" style="width: 270px;" />
            </div>
          </div>
          <div class="wp-block-button aligncenter">
            <a class="wp-block-button__link" href="{{ "/join_us" | relURL }}">¡Quiero unirme!</a>
          </div>
        </div>
      </div>

      <div class="wp-block-columns alignwide" style="margin-bottom: 7.5rem;">
        <div class="wp-block-group__inner-container justified">
          <h2 class="has-text-align-center"><a class="link" href="{{ .Permalink }}">Nuestros objetivos</a></h2>
          <div style="width: 70%; text-align: justify; margin: auto;">
            <p>Somos una comunidad abierta a todos los que trabajamos o participamos en el mundo de la privacidad, la soberanía tecnológica y la ética en tecnología, y que buscamos unirnos para:</p>
            <ul>
              <li><b>Generar un espacio para la comunidad de privacidad y soberanía tecnológica</b> (principalmente en España), uniéndola en un lugar y en un ambiente seguro.</li>
              <li><b>Colaborar y servir de nexo de unión para trabajar de manera conjunta</b> en proyectos y ayudarnos mutuamente.</li>
              <li>Tratar de <b>influir como comunidad y generar un grupo de presión en las cuestiones políticas y sociales</b>.</li>
              <li><b>Dar visibilidad a proyectos/comunidades/personas</b> que trabajan en torno a la privacidad y la soberanía tecnológica en nuestro país.</li>
              <li><b>Divulgar sobre privacidad y la soberanía tecnológica</b>.</li>
            </ul>
          </div>
        </div>
      </div>


      {{ if gt (len .Site.RegularPages) 2 }}
      <div class="alignwide">
        <h2 class="has-text-align-center">Novedades</h2>
        <div class="wp-block-columns columns alignwide">
          {{ $paginator := .Paginate (where .Site.RegularPages "Section" "blog") }}
          {{ range $paginator.Pages }}
          <div class="column">
            <div class="wp-block-group">
              <div class="wp-block-group__inner-container">
                <figure class="wp-block-image alignfull size-full"><img src="{{ .Params.Image |absURL }}"
                    alt="{{.Title }}" class="wp-image-37" /></figure>
                <h3><a class="link" href="{{ .Permalink }}">{{ .Title }}</a></h3>
                <p>{{ .PublishDate.Format "January 06, 2006"}}</p>
                <div class="wp-block-button is-style-outline">
                  <a class="wp-block-button__link" href="{{ .Permalink }}">Ver mas</a>
                </div>
              </div>
            </div>
          </div>
          {{ end }}
          <div class="wp-block-button is-style-outline" style="margin: 28px auto;">
            <a class="wp-block-button__link" href="{{ "/blog" | relURL }}">Ver todos los eventos</a>
          </div>
        </div>
      </div>
      {{ end }}

    </div><!-- .entry-content -->
  </div><!-- .post-inner -->
</article>

{{ end }}
